@model WebAppProjeto01.Models.Home

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Loja Virtual";
}

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Fabricantes
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model.fabricantes)
                {
                    <td>
                        @Html.ActionLink(item.Nome, "Index", "Home", new { FabricanteId = item.FabricanteId }, null)
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Categorias
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var item in Model.categorias)
                {
                    <td>
                        @Html.ActionLink(item.Nome, "Index", "Home", new { CategoriaId = item.CategoriaId }, null)
                    </td>
                }
            </tr>
        </tbody>
    </table>
</div>

@if ((Model.produtos != null) && (Model.filtro == "Fabricante"))
{
    <div class="alert alert-success" role="alert">
        Produtos por Fabricante
        @Html.Partial("~/Views/Produtos/_PorFabricante.cshtml", Model.produtos.ToList())
    </div>
}

@if ((Model.produtos != null) && (Model.filtro == "Categoria"))
{
    <div class="alert alert-success" role="alert">
        Produtos por Categoria
        @Html.Partial("~/Views/Produtos/_PorCategoria.cshtml", Model.produtos.ToList())
    </div>
}

@section styles{
    <link href="@Url.Content("~/content/DataTables-1.10.2/css/dataTables.bootstrap.css")" rel="stylesheet" />
}
@section ScriptPage{
    <script src="@Url.Content("~/scripts/DataTables-1.10.2/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables-1.10.2/dataTables.bootstrap.js")"></script>
}
